<% layout('layouts/boilerplate.ejs') -%>

    <body>
      <!-- <h1>All Listings</h1> -->

        <div class="container-xxl py-3">
          <div class="row justify-content-between align-items-center">
            <div class="col-md-8">
              <div class="filter d-flex flex-wrap justify-content-center justify-content-md-start">
                <div class="filter-box m-2">
                  <div class="filter-icon"><i class="fas fa-fire-alt"></i></div>
                  <div class="filter-text">Trending</div>
                </div>
                <div class="filter-box m-2">
                  <div class="filter-icon"><i class="fas fa-tractor"></i></div>
                  <div class="filter-text">Farm</div>
                </div>
                <div class="filter-box m-2">
                  <div class="filter-icon"><i class="fas fa-swimming-pool"></i></div>
                  <div class="filter-text">Pool</div>
                </div>
                <div class="filter-box m-2">
                  <div class="filter-icon"><i class="fas fa-house"></i></div>
                  <div class="filter-text">Home</div>
                </div>
                <div class="filter-box m-2">
                  <div class="filter-icon"><i class="fas fa-igloo"></i></div>
                  <div class="filter-text">Cold</div>
                </div>
                <div class="filter-box m-2">
                  <div class="filter-icon"><i class="fas fa-campground"></i></div>
                  <div class="filter-text">Campground</div>
                </div>
                <div class="filter-box m-2">
                  <div class="filter-icon"><i class="fas fa-mountain"></i></div>
                  <div class="filter-text">Mountains</div>
                </div>
                <div class="filter-box m-2">
                  <div class="filter-icon"><i class="fas fa-sun"></i></div>
                  <div class="filter-text">Sun Set</div>
                </div>
                <div class="filter-box m-2">
                  <div class="filter-icon"><i class="fas fa-cloud-sun-rain"></i></div>
                  <div class="filter-text">Rain</div>
                </div>
                <div class="filter-box m-2">
                  <div class="filter-icon"><i class="fas fa-ship"></i></div>
                  <div class="filter-text">Boating</div>
                </div>
              </div>
            </div>
            <div class="col-md-4 d-flex justify-content-center justify-content-md-end my-2 my-md-0">
              <div class="tab-check btn btn-outline-secondary ">
                <div class="form-check form-switch form-check-reverse">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckReverse">
                  <label class="form-check-label" for="flexSwitchCheckReverse">Display Taxe %</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-xxl">
            <div class="row justify-content-center">
                <% for(let list of allListings){ %>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12 p-2">
                        <a href="/listings/<%= list.id %>">
                            <div class="card">
                                <img src="<%= list.image.url %>" class="card-img-top" alt="<%= list.image.filename %>">
                                <div class="card-body">
                                  <h5 class="card-title"><%= list.title %></h5>
                                  <p class="card-text">
                                    &#8377; <%= list.price.toLocaleString("en-IN") %> <span class="tax d-none">+18% GST</span>
                                  </p>
                                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                                  <div class="card-img-overlay">
                                    <i class="far fa-edit"></i>
                                  </div>
                                </div>
                              </div>
                        </a>
                    </div>
                <% } %>
            </div>

            
        </div>
    </body>